<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <add name="flaskwebhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Santosh Kharel\Desktop\IBM Data\Python\Engine_pre_processor\env\Scripts\python.exe|&quot;C:\Users\Santosh Kharel\Desktop\IBM Data\Python\Engine_pre_processor\env\lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
      <add name="Flask" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Santosh Kharel\Desktop\IBM Data\Python\Engine_pre_processor\env\Scripts\python.exe|C:\Users\Santosh Kharel\Desktop\IBM Data\Python\Engine_pre_processor\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <fastCgi>
      <application fullPath="C:\Users\Santosh Kharel\Desktop\IBM Data\Python\Engine_pre_processor\env\Scripts\python.exe" arguments="C:\Users\Santosh Kharel\Desktop\IBM Data\Python\Engine_pre_processor\env\Lib\site-packages\wfastcgi.py" maxInstances="4" idleTimeout="300" activityTimeout="300" requestTimeout="300" />
    </fastCgi>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="server.app" />
    <add key="PYTHONPATH" value="C:\Users\Santosh Kharel\Desktop\IBM Data\Python\Engine_pre_processor" />
    <add key="WSGI_LOG" value="C:\Users\Santosh Kharel\Desktop\IBM Data\Python\Engine_pre_processor\app.log"/>
  </appSettings>
</configuration>
